@charset "utf-8";

/* clearfix
------------------------------------------------------------------------------*/
.clearfix:after {
	content:'';
	display:block;
	clear:both;
}

/* clearfix IE6 and IE7
------------------------------------------------------------------------------*/
.clearfix {
	/zoom:1;
}

/* contents
------------------------------------------------------------------------------*/
#contents {
	padding-bottom:0px;
	width:924px;
}
#contents img{
	border:none;
	vertical-align:bottom;
}
/*article*/
#contents .article {
	float:left;
	width:388px;
}
/*items*/
#contents .items {
	float:right;
	margin-left:35px;
	margin-right:25px;
	width:330px;
}
#contents .items ul{
	width:380px;
	margin-right:0px;
}
#contents .items li{
	float:left;
	width:185px;
	padding:0 0px 0px 0;
}
