{include file="header.html"}
<script type="text/javascript">
$(function(){
    $('#ad_form').validate({
        errorPlacement: function(error, element){
            $(element).next('.field_notice').hide();
            $(element).after(error);
        },
        success       : function(label){
            label.addClass('right').text('OK!');
        },
        onkeyup    : false,
        rules : {
            pro_img : {
                accept  : 'gif|png|jpe?g'
            }
        },
        messages : {
            pro_img : {
                accept : '{$lang.limit_img}'
            }
        }
    });
});
</script>
<div id="rightTop">
    <p>产品图</p>
    <ul class="subnav">
        <li><a class="btn1" href="index.php?app=pimage&amp;id={$smarty.get.pro_id}">管理</a></li>
        {if $pimage.image_id}
        <li><a class="btn1" href="index.php?app=pimage&amp;act=add">新增</a></li>
        {else}
        <li><span>新增</span></li>
        {/if}
    </ul>
</div>

<div class="info">
    <form method="post" enctype="multipart/form-data" id="ad_form">
        <table class="infoTable">
            <tr>
                <th class="paddingT15">
                    产品图片:</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="infoTableFile2" id="pro_img" type="file" name="pro_img" />
                    <label class="field_notice">{$lang.limit_img}</label>
                </td>
            </tr>
            {if $pimage.image_url}
            <tr>
                <th class="paddingT15">
                </th>
                <td class="paddingT15 wordSpacing5">
                <img src="{$pimage.image_url}" class="makesmall" max_width="352" max_height="162" />
                </td>
            </tr>
            {/if}
            <tr>
                <th class="paddingT15">
                    排序:</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="infoTableInput2" id="sort_order" type="text" name="sort_order" value="{$pimage.sort_order}" /> <label class="field_notice">排序值越大 越靠前</label>
                </td>
            </tr>
        <tr>
            <th></th>
            <td class="ptb20">
                <input class="formbtn" type="submit" name="Submit" value="{$lang.submit}" />
                <input class="formbtn" type="reset" name="Submit2" value="{$lang.reset}" />
            </td>
        </tr>
        </table>
    </form>
</div>
{include file="footer.html"}
