@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
div {
	word-wrap: break-word;
	word-break: break-all;
}
a {
	color: #686868;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img, input {
	vertical-align: middle;
}
a img {
	border: none;
}
b {
	font-weight: 400;
}
ul, ol {
	list-style: none;
}
table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
input, select {
	font-family: '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', Arial, Helvetica, sans-serif;
}

body {
	background-color: #fff;
	color: #686868;
	font: 12px/1.5 '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', Arial, Helvetica, sans-serif;
	font-family: 微软雅黑;
}
.clearfix:after {
	clear: both;
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clearfix {
	zoom: 1;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.hide {
	display: none;
}



	*{ margin:0; padding:0; font-family:微软雅黑;}

	.ban_main_index{  width:900px; float: left;} 	
	.ban_main_1_index{ width:960px;  margin: 0px auto 0px;} 	
	.moveL{ background:url(../../image/default/arrow_l.png); float:left;z-index:50001; }
	.moveR{ background:url(../../image/default/arrow_r.png); float:right;z-index:50001;}
/*	.moveR{ background:url("images/arrow_r.png") no-repeat scroll 50% 50% transparent;}*/
	.arrow{ width:28px; height:44px; margin-top:136px; cursor:pointer; }
	
	.a_jh{ width:26px; height:22px; background:url(../../image/default/arrow_jh.png) no-repeat;  position:relative; z-index:100px; float:left; margin-top:317px; }
	.jh1{ margin-left:90px; }
	.jh2{ margin-left:300px; }
	.jh3{ margin-left:540px; }
	
	.nav_index{ width:100%; height:101px; background:#E2E9E9; border-bottom:1px solid #D2D2D2;  }
	.box_index {
	    cursor: pointer;
	    float: left;
	    height: 101px;
	    width: 254px;
	}
	.box_index .arrow_nav{ height:101px; width:31px; margin-left:6px; float:left; background:url(../../image/default/arrow_nav.png) no-repeat; }
	.box_index i{ font-size:50px; line-height:101px; color:#bababa; display:block; float:left; padding:0 8px 0 20px; }
	.box_index h3{ font-size:16px; line-height:24px; color:#969696; font-weight:normal; float:left; margin:30px 8px 0 14px; }
	.box_index span{ display:block; font-size:12px; line-height:16px; color:#969696;}
	img{ border:0; }
	.hide{ display:none;}	
	.clearfix { clear:both; }
	.box1{ width:162px;height:101px; float:right; }
	
	
.box1 .btn_ty {	display: inline-block;	width: 127px;	height: 40px;	background: url(../../image/default/btn8.png) no-repeat;	color: #fff; text-align:center;	font-size: 16px; margin-top:28px; border: none;	cursor: pointer;	line-height: 40px;}
	.box1 .btn_ty:hover {	background-position: 0 -40px;	text-decoration: none;}
	.box_index .c1{ color:#2576a9; }
	.box_index .c2{ color:#333333; }
	
	.gl_nav{ width:100%; height:304px;  line-height:28px;}
	.gl_nav_img{ width:196px; height:196px; float:left; margin:50px 0 0 64px; }
	.gl_nav_left{ width:596px; float:left; margin-left:80px; }
	.gl_nav h2{ font-size:36px; line-height:36px; color:#333333;  font-weight:normal; margin-top:68px; }
	.gl_nav h3{ font-size:24px; color:#333333; font-weight:normal; margin:16px 0 36px 0;}
	.gl_nav span{ font-size:16px; color:#585858; }
	.gl_nav_left a{
		color: #2576a9;
		font-size:16px;
	}
	/*20130617 VIP首页 添加合作伙伴*/
	.hz{ vertical-align:middle; padding:12px 0 20px 0;}
	.hz img{ margin-right:52px; border:0; }
	.hz .lastimg{ margin-right:0; }



/*------------ start common ------------*/
.btn {
	width: 97px;
	height: 32px;
	background: url(../../image/default/btn.png) no-repeat;
	color: #fff;
	font-size: 16px;
	line-height: 32px;
}
input.btn {
	border: none;
	cursor: pointer;
}
a.btn {
	display: inline-block;
	text-align: center;
}
a.btn:hover {
	background-position: 0 -32px;
	text-decoration: none;
}
.btn2 {
	display: inline-block;
	width: 62px;
	height: 28px;
	background: url(../../image/default/btn2.png) no-repeat;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 28px;
}
.btn2:hover {
	background-position: 0 -28px;
	text-decoration: none;
}
input.btn2 {
	border: none;
}
/*------------ end common ------------*/

/*------------ start header ------------*/
.header {
	border-bottom: 1px solid #e1e1e1;
	height: 409px; background:url(../../image/default/top.jpg) top repeat-x;
}
.about{ height:70px;}
.header-in {
	height: 70px;
	color: #706b5f;
	border-bottom:#524257 solid 1px; 
}
.banner_index{	width: 960px;	margin: 0 auto; height:70px}
.logo {
	float: left;
	width: 143px;
	height: 70px;
	background-color: #314865;
}

.header-more2 dd .btn2 {
	margin-left: 10px;
}
.header-more2 dd b {
	display: inline-block;
	width: 62px;
	height: 28px;
	margin-left: 10px;
	text-align: center;
	line-height: 28px;
}

/*------------ end header ------------*/

.nav{float:right; padding:0 5px 0 0; height:70px; line-height:70px;}
.nav li{ float:left; padding:0 5px; color:#fff;}
.nav li a{ color:#fff;}
.btn_public{background: url(../../image/default/icon_header.png) 0 -110px no-repeat; width:126px; height:51px; display:block;}
.btn_public:hover{filter:alpha(opacity=90); /*IE*/-moz-opacity:0.90; /*Mozilla*/opacity: 0.90;}
.gz{ width:60px; padding-top:25px; height:45px; display:block}
.zc{ width:960px; margin:0 auto}

.search_wraper{ position:absolute;width:302px; margin-left:620px; height:338px;background-color:#000;color:#FFFFFF;filter:alpha(opacity=30); /*IE*/-moz-opacity:0.3; /*Mozilla*/opacity: 0.3;}
.search_con{width:284px; height:318px;  position:absolute;float:right; margin-left:620px; padding:20px 0 0 18px;  }
.p1{ color:#fff; font-size:16px; height:30px; line-height:50px;}
.p2{ color:#fff; font-size:26px; height:100px; line-height:100px}
.p2 em{font-style:normal; color:#ffba00; font-weight:bold; font-size:50px}
.p3{ color:#fff; font-size:16px; height:50px; line-height:50px; padding-right:15px; text-align:right}
.btn_search{background:url(../../image/default/sqhy.jpg) no-repeat; border:none; width:266px; height:46px; margin-top:15px}
.btn_search:hover{background:url(../../image/default/sqhy_on.jpg) no-repeat;}


.column_1{padding:20px 0 0 0; _margin-bottom:20px; height:280px}
.column_1 .story{ float:left; width:624px;}
.column_1 .owner_story{ height:125px; padding-top:13px; border-bottom:solid 1px #ddd;}
.column_1 a{text-decoration:none; color:#06A0E4; cursor: pointer;outline:none; }
.column_1 .owner_story img{-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2); -moz-box-shadow: 0 2px 5px rgba(0,0,0,.2); box-shadow: 0 2px 5px rgba(0,0,0,.2); border: solid 3px #fff; width:151px; height:88px; float:left;}
.column_1 .story_con{ padding:0 0 0 15px; float:left; width:426px;}
.column_1 .story_con dt{ font-size:18px; height:42px;margin-bottom:4px; font-family:"微软雅黑";}

.column_1 .icon_more{ background-position:0 -573px;_background-position:0 -567px; display:inline-block; width:7px; height:13px; margin-left:4px; }
.column_1 .story_con dd{ line-height:20px;}
.column_1 .guest{margin: 0 10px 0 0;width: 426px;}
.column_1 .column_right{ float:right; width:335px; height:276px; border-left:solid 1px #ddd;}
.column_1 .photographer{ width:295px; padding:0 0 0 20px;}
.marginB20{ margin-bottom:20px !important;}
.dilogo{ background:url(../../image/default/logo.png) -150px -15px no-repeat; width:127px; height:70px; display:block}





/*------------ start main ------------*/
.main {
	position: relative;
	width: 960px;
	margin: 30px auto 50px;
}
.main2 {
	margin-top: 10px;	
}




/*------ end content ------*/







/*------------ start footer ------------*/
.footer {
	height: 212px;
	background-color: #3a4044;
	color: #fff;
	line-height: 27px;
}
.footer a {
	color: #fff;
}
.footer-in {
	width: 960px;
	margin: 0 auto;
	border-bottom: 1px solid #53585E;
}
.footer-logo {
	float: left;
	padding-top: 34px;
}
*html .footer-logo img {
	padding-top: 41px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/footer-logo.png);
}
.footer-right {
	float: left;
	padding: 28px 0 0 20px;
}
.footer-nav li {
	float: left;
	margin-right: 20px;
	font-size: 14px;
}
.footer-icon {
	float: right;
	padding: 34px 14px 0 0;
	font-size: 14px;
}
.footer-icon1, .footer-icon2 {
	display: inline-block;
	width: 41px;
	height: 41px;
	margin-left: 14px;
	vertical-align: middle;
}
.footer-icon1 {
	background: url(../../image/default/footer-icon1.png) no-repeat;
}
.footer-icon2 {
	background: url(../../image/default/footer-icon2.png) no-repeat;
}
.footer-icon1:hover, .footer-icon2:hover {
	background-position: 0 -41px;
}
/*------------ end footer ------------*/






.vip2-c5 {
	width: 960px;
	margin: 0 auto;
	padding-bottom: 45px;
}
.vip2-c5 h1 {
	margin-top: 46px;
	font-size: 32px;
	font-weight: 400;
	text-align: center;
}
.vip2-c5c {
	margin-top: 50px;
}
.c5l {
	float: left;
}

.vip2-c5 .btn5 {
	margin: 52px auto 0;
}
.vip2-c2-in {
	width: 900px;
	margin: 0 auto;
	padding: 50px 30px;
}
.vip2-c2 dl {
	display: inline;
	float: left;
	width: 200px;
	margin-left: 61px;
	padding-left: 55px;
}
.vip2-c2 .vip2-c2-d1 {
	margin-left: 0;
	padding-left: 68px;
	background: url(../../image/default/vip2-ci1.png) no-repeat 0 12px;
}
.vip2-c2-d2 {
	background: url(../../image/default/vip2-ci2.png) no-repeat 0 12px;
}
.vip2-c2-d3 {
	background: url(../../image/default/vip2-ci3.png) no-repeat 0 12px;
}
.vip2-c2 dt {
	font-size: 18px;
}
.vip2-c2 dd {
	color: #969696;
}
.vip2-c3 {
	width: 960px;
	margin: 0 auto;
	padding-bottom: 44px;
}
.vip2-c3-l {
	float: left;
	width: 386px;
	padding: 100px 0 30px 16px;
	font-size: 16px;
	line-height: 28px;
}
.vip2-c3-l a {
	color: #2576a9;
}
.vip2-c3-r {
	float: right;
	 margin-right: 50px;
}
.vip2-c4 {
	padding: 30px 0 50px;
}
.vip2-c4-a {
	margin-top: 58px;
	width:748px;
}
.vip2-c4-l {
	float: left;
	margin-top: -18px;
	margin-right: 18px;
}
.vip2-c4-r {
	float: left;
	width: 890px;
	padding: 0 28px 0 32px;
	font-size: 14px;
	line-height: 24px;
}

.vip2-c1 {
	width:960px;
	margin:0 auto 0;
	padding: 68px 0 76px;
}
.vip2-c1-l {
	float: left;
	width: 436px;
	padding: 24px 0 0 16px;
	font-size: 16px;
	line-height: 28px;
}
.vip2-cl-lt {
	padding-bottom: 10px;
}
.vip2-cg {
	float: left;
}
.vip2-gw1 {
	font-size: 16px;
}
.vip2-gw2 {
	font-size: 15px;
}
.vip2-ct {
	position: relative;
	zoom: 1;
	color: #424242;
	font-size: 30px;
	font-weight: 400;
	line-height: 48px;
}
.vip2-ct a {
	position: absolute;
	right: 0;
	top: 0;
	color: #2576a9;
	font-size: 16px;
}
.vip2-c1-l a {
	color: #2576a9;
}
.vip2-c1-r {
	float: right;
	padding-right: 40px;
}
.vip2-c2 {
	position: relative;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	background-color: #E2E9E9;
	height:163px
}





.sidePost {
	float: right;
	width: 196px;
	padding: 0 15px 16px;
	border: 0px solid #ccc;
}
.btn29 {
	width: 150px;
	height: 50px;
	background: url(../../image/default/btn29.png) no-repeat;
	color: #fff;
	font-size: 16px;
}


/*------------ start wrap ------------*/
.wrap {
	background-color: #e9edef;
	line-height: 30px;
}
.wrap-in {
	width: 960px;
	min-height: 530px;
	margin: 0 auto;
	padding-bottom: 60px;
}
*html .wrap-in {
	_height: 530px;
}
.wrap h1 {
	padding: 18px 0 0 2px;
	font-size: 30px;
	font-weight: 400;
	line-height: 90px;
}
.wrap .wrap-title {
	padding-top: 40px;
	padding-bottom: 28px;
}
.friends {
	padding: 0 4px;
}
.friends h2 {
	font-size: 14px;
}
.friends a {
	float: left;
	margin-right: 19px;
}
.info {
	margin-top: 40px;
	padding: 16px 4px 0;
	border-top: 1px solid #b2b2b2;
	line-height: 20px;
}
.info h4 {
	font-size: 12px;
	font-weight: 400;
}
.info-o {
	color: #165785;
}
.contact {
	padding: 0 4px;
	font-size: 14px;
}
.space-t {
	margin-top: 30px;
}
.about {
	font-size: 14px;
}
.wb-con {
	width: 488px;
	margin: 0 auto;
	padding: 148px 0;
}
.icon-ok {
	float: left;
	padding: 6px 9px 0 20px;
	font-size: 0;
	line-height: 22px;
}
.thank {
	float: left;
	width: 372px;
	padding-top: 2px;
	font-size: 16px;
	line-height: 28px;
}
.wb-link {
	margin-top: 42px;
	text-align: center;
}
.link-btn {
	display: inline-block;
	width: 78px;
	height: 34px;
	margin-left: 10px;
	background: url(../../image/default/link-btn.png) no-repeat;
	color: #3a4044;
	font-size: 16px;
	line-height: 34px;
	vertical-align: middle;
}


/* start user */
.user {
	width: 774px;
	margin:0 auto;
	padding-left: 186px;
}
.user-l {
	float: left;
	width: 384px;
	border-right: 1px solid #d5d5d5;
}
.user-r {
	float: left;
	padding-left: 56px;
}
.user h2 {
	font-size: 14px;
	font-weight: 400;
}
.user-form {
	margin-top: 20px;
}
.user-form p {
	margin-top: 10px;
}
.txt {
	width: 188px;
	height: 30px;
	padding: 0 4px;
	border: 1px solid #c2c2c2;
	color: #969696;
	font-size: 14px;
	line-height: 30px;
}
.txt-focus {
	border-color: #9cc9e5;
}
.user-form .btn-out {
	margin-top: 20px;
}
.user-form .btn-out a {	
	color: #9cc9e5;
}
.lost-pw {
	margin-left: 8px;
	color: #2576a9;
}
.remember {
	margin-left: 8px;
}
.again-password {
	display: none;
}
.user-r ul {
	margin-top: 20px;
}
.user-r li {
	float: left;
	margin-right: 16px;
}
.user-r li img {
	display: block;
}
.btn-back {
	margin-top: 20px;
	padding-left: 126px;
}
.radio-label label {
	margin: 0 18px 0 8px;
	font-size: 14px;
}
.user-form span {
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
.form-info {
	color: #969696;
}
.form-right {
	display: none;
	width: 19px;
	height: 32px;
	background: url(../../image/default/form-right.png) no-repeat 50% 50%;
	vertical-align: middle;
}
.form-error {
	padding-left: 26px;
	background: url(../../image/default/form-error.png) no-repeat 0 50%;
	color: #ff4200;
}
.user-l p.form-error {
	display: none;
}
/* end user */


/*status*/
.center_div {  margin:0 auto; margin-top:120px; padding:10px; font-size:12px;font-family:Tahoma,Geneva,sans-serif;color:#333;}
.loading_block{background:url(../../image/default/tbg.png) left top no-repeat; width:792px; height:441px;}
.loading{ width:520px; height:120px; margin:0 126px; margin-top:90px; float:left}
.jd{ margin-left:120px;}
.ula{border-bottom:#999 dashed 1px; width:520px; margin-bottom:20px;}
.ulb{ margin-left:30px;padding-top: 30px;}
.zd{font-size:14px; color:#F60; font-weight:bold; height:30px; line-height:30px; }
.jd li{height:40px;  font-size:14px;}
.ts{ width:170px; height:30px; padding-left: 350px; padding-top: 40px;}
.ts a{color:#09C; background:url(../../image/default/iambut.gif); background-position:-2px -513px; width: 65px; height: 24px; display: block; text-align: center;}
.ts a:hover{ color: #f60;}


.loading_status{ background:url(../../image/default/ico_status.png) no-repeat; height:47px; width:47px; float:left; margin-top:5px;}
.status_suc{ background-position:0 0;}
.status_no{ background-position:0 -47px;}
.status_tan{ background-position:0 -94px;}
.status_suc{ background-position:0 0;}
.status_fai{ background-position:0 -47px;}
.status_men{ background-position:0 -94px;}
.loading_bar{220px; float:left; margin-left:60px;}


#slideshow {
	margin:0 auto;
	width:475px;
	height:315px;
	position:relative;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:475px;
  height:315px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:475px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:315px;
}

/** 
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width:40px;
  height:263px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
  z-index:99;
}
#leftControl {
  top:30px;
  left:0;
  background:transparent url(../../image/default/control_left.png) no-repeat 0 0;
}
#rightControl {
  top:30px;
  right:0;
  background:transparent url(../../image/default/control_right.png) no-repeat 0 0;
}
#pageContainer {
  margin:0 auto;
  width:475px;
}